@import url("../../../styles/variables.css");

.sideBar {
  justify-content: center;
}

.sideBarImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.sideBarContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding: 0.6rem 0;
}

.sideBarTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
}

.sideBarSlug {
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
}

.sideBarDate {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.sideBarDateIcon {
  font-size: 1.2rem;
}

.infoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.newModuleButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.6rem;
  width: fit-content !important;
}

.modules {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .newModuleButton {
    position: relative;
  }
}
