@import url("../../../../styles/variables.css");

.contentCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: white;
  width: 100%;
  padding: 1rem 1.2rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.contentCard:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.contentCardIconArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.6rem;
}

.youtubeIcon {
  color: red;
}

.contentIcon {
  color: #0077cc;
}

.contentCardInfo {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.contentCardTitle {
  font-size: 1rem;
  font-weight: 600;
}

.contentCardAdminActions {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.contentCardCheckButton {
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
}
