.contenrCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: white;
  padding: 1rem 1.2rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.contentCardIconArea {
  flex-shrink: 0;
  font-size: 1.4rem;
}

.youtubeIcon {
  color: red;
}

.contentIcon {
  color: #0077cc;
}

.contentCardTitle {
  font-size: 1rem;
  font-weight: 600;
}

.contentCardAdminActions {
  display: flex;
  gap: 0.8rem;
}
