@import url("../../../styles/variables.css");

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  padding: 0.4rem 1.2rem;
  transition: all 0.3s ease-in-out;
}

.actived {
  background-color: var(--primary-color);
}

.buttonArea {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttonSection {
  background-color: var(--primary-color);
  color: white;
  font-size: 2rem;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100%;
}

.circleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2rem;
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
}

.logoImg {
  object-fit: contain;
  width: 2.5rem;
  height: 2.5rem;
}

.navArea {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.routeList {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  list-style-type: none;
  transition: all 0.3s ease-in-out;
}

.routeLink {
  font-family: var(--primary-font);
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar {
    transition: none;
  }

  .routeList {
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 0;
    justify-content: space-around;
    gap: 1rem;
    background-color: var(--primary-color);
    width: 100%;
    padding: 1rem;
    transition: height 0.3s ease-in-out;
  }
}
