.jpeg {
  color: #cc0000;
}

.jpg {
  color: #990000;
}

.png {
  color: #0077cc;
}

.gif {
  color: #cc7700;
}

.svg {
  color: #339933;
}

.webp {
  color: #6633cc;
}

.pdf {
  color: #d00000;
}

.doc {
  color: #0033cc;
}

.docx {
  color: #0055cc;
}

.ppt {
  color: #cc4400;
}

.pptx {
  color: #dd5500;
}

.txt {
  color: #333333;
}
