.courseSection {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  min-height: calc(100vh - 64px);
  padding: 1rem 15%;
}

.courseAdminButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.6rem;
  width: fit-content !important;
}

.courseList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

@media screen and (max-width: 1024px) {
  .courseAdminButton {
    position: relative;
  }
}

@media screen and (max-width: 480px) {
  .courseSection {
    padding: 1rem 5%;
  }
}
