@import url("../../../styles/variables.css");

.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

.formActions {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}

.formLink {
  font-family: var(--secondary-font);
  color: var(--info-color);
  font-size: 0.9rem;
}

.formErrors {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.formError {
  color: var(--danger-color);
  font-size: 0.9rem;
}
